<template>
  <div
    :style="{
      width: '100%',
      height: '100vh',
      backgroundSize:'cover',
      backgroundImage:
        'url(' + require('@/assets/images/cycle/' + randomBg + '.gif') + ')',
    }"
  >
    <div id="box">
      <div id="clock">
        <div id="time"></div>
        <div id="week"></div>
      </div>
      <div id="loginIcon">
        <img src="../assets/images/user_icon3.png" />
      </div>
      <div id="loginForm">
        <b-form @submit="onSubmit">
          <div id="formKeyIn">
            <b-form-input
              id="input-1"
              style="max-width: 20rem;"
              v-model="form.username"
              placeholder="使用者帳號"
              required
            ></b-form-input>
            <b-form-input
              id="input-2"
              style="max-width: 20rem;"
              v-model="form.password"
              placeholder="密碼"
              type="password"
              required
            ></b-form-input>
          </div>
          <div id="formBtn">
            <b-button type="submit" size="lg" variant="outline-dark">
              <img src="../assets/images/arrow3.png" />
            </b-button>
          </div>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/js/login.js";

export default {
  name: "Login",
  props: {},
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
      foods: [
        { text: "Select One", value: null },
        "Carrots",
        "Beans",
        "Tomatoes",
        "Corn",
      ],
      show: true,
      randomBg: 0,
    };
  },
  mounted() {
    window.showTime();
    var num = Math.floor(Math.random() * 9);
    this.randomBg = num;
  },
  methods: {
    onSubmit(event) {
      event.preventDefault(); //停止元件本身預設動作
      this.axios
        .get("http://localhost:8081/portal/loginInfo")
        .then((response) => (this.info = response.data))
        .catch(function(error) {
          // 請求失敗處理
          console.log(error);
        });
      console.log(JSON.stringify(this.form));
      console.log(JSON.stringify(this.info));
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#box {
  width: 1100px;
  position: absolute;
  top: 50%;
  right: 0%;
  margin-top: -150px;
  height: 330px;
  opacity: 0.7;
  background: #000;
  border-radius: 1000px 0px 0px 1000px;
}
#clock {
  position: relative;
  width: 450px;
  height: 290px;
  color: white;
  margin: 0px 0px 0px 80px;
  display: inline-block;
}
#time {
  font-size: 180px;
}
#week {
  position: absolute;
  right: 0px;
  font-size: 32px;
  margin: -30px 0px;
}
#loginIcon {
  position: absolute;
  top: 40%;
  left: 50%;
}
#formKeyIn {
  position: absolute;
  top: 40%;
  left: 60%;
}
#formBtn {
  position: absolute;
  top: 40%;
  left: 80%;
}
</style>
